
 /* Dark mode */
.root {
    -fx-background-color: #333333;
}

.ModeButton {
    -fx-background-color: #7D7C7C;
    -fx-text-fill: #F1EFEF;
    -fx-padding: 10 20 10 20; /* TOP RIGHT BOTTOM LEFT */
}
/* Style for the VBox containing the ToggleButton */
.vbox-container {
    -fx-spacing: 9; /* Add vertical margin of 10 pixels */
}

.AboutMe{
	
	-fx-text-fill: #F1EFEF;
}
